<div class="container form-container">
  <form id="form" #signinForm="ngForm">
    <h2 class="mb-3 text-center">Log In</h2>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            name="email"
            #email="ngModel"
            [(ngModel)]="user.email"
            class="form-control"
            id="email"
            aria-describedby="email"
            required
          />
          <small class="text-danger" *ngIf="!email.valid && email.touched">
            Required field.
          </small>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            #password="ngModel"
            [(ngModel)]="user.password"
            class="form-control"
            id="password"
            required
          />
          <small
            class="text-danger"
            *ngIf="!password.valid && password.touched"
          >
            Required field.
          </small>
        </div>
        <!-- RESULT MSSG -->
        <div *ngIf="status == 'error'"> 
          <div
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            <strong>Error!</strong> {{ mssg }}
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div *ngIf="status == 'success'">
          <div
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            <p><strong>Congratulations!</strong> {{ mssg }}</p>
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <!-- RESULT MSSG END -->
        <div class="container-button">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onSubmit(signinForm)"
            [disabled]="!signinForm.form.valid"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
