<footer class="footer fixed-bottom mb-3 ml-3 mr-3 py-3">
  <div class="container text-right">
    <span class="text-muted">
      Developed by
      <a target="_blank" href="https://tonitorrescuenca.com/"
        ><strong>Toni Torres</strong></a
      >
      <strong>
        <a
        class="nav-link"
        target="_blank"
        href="https://github.com/ToniTJK/noteWeb-frontend"
      >
        <i class="fab fa-github"></i> GitHub
      </a>
      </strong>
      © 2020
    </span>
  </div>
</footer>
