#nav {
  border-radius: 3px;
  
  .navbar-brand {
    color: white;
  }

  ul li {
    a {
      color: white;
    }
    .disabled {
      color: #ccc;
    }
  }

  .is-active {
    border-bottom: 2px solid yellow;
    
  }

  .pointer {
    cursor: pointer;
  }
}
