<nav id="nav" class="navbar navbar-expand-lg mt-3 ml-3 mr-3">
  <a class="navbar-brand" routerLink="/">App Notes</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="is-active" *ngIf="!identity">
        <a class="nav-link" routerLink="/home">
          <i class="fas fa-home"></i> Home
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" routerLinkActive="is-active" *ngIf="identity">
        <a class="nav-link" routerLink="/my-panel" tabindex="-1">
          <i class="far fa-sticky-note"></i> My Panel</a
        >
      </li>
      <li class="nav-item" routerLinkActive="is-active" *ngIf="!identity">
        <a class="nav-link disabled" routerLink="/my-panel" tabindex="-1">
          <i class="far fa-sticky-note"></i> My Panel</a
        >
      </li>
      <li class="nav-item" routerLinkActive="is-active" *ngIf="identity">
        <a class="nav-link" routerLink="/create-note" tabindex="-1">
          <i class="fas fa-plus-square"></i> Add Note</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right mr-2 mt-2 mt-lg-0" *ngIf="!identity">
      <li class="nav-item" routerLinkActive="is-active">
        <a class="nav-link" routerLink="/sign-up">
          Sign Up
          <i class="fas fa-user-plus"></i>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="is-active">
        <a class="nav-link" routerLink="/log-in">
          Log In
          <i class="fas fa-sign-in-alt"></i>
        </a>
      </li>
    </ul>
    <ul
      class="nav navbar-nav navbar-right mr-2 mt-2 mt-lg-0 bg-danger border br-3 pointer"
      *ngIf="identity"
    >
      <li class="nav-item">
        <a (click)="logout()" class="nav-link">
          Log Out
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
