<div class="container mt-3">
    <div class="row">
        <div class="jumbotron col-md-12">
            <h1 class="display-4">Hello!</h1>
            <p class="lead">
              Welcome to my first web created with <b>MEAN</b> Stack 
              (<b>M</b>ongoDB, <b>E</b>xpressJS, <b>A</b>ngularJS and <b>N</b>odeJS). 
            </p>
            <p class="lead">
              It is a place where you can create an account and manage your notes. Notes are not public, just for you.             
            </p>
            <p class="lead">
              You can see the code in <a href="https://github.com/ToniTJK/noteWeb-frontend" target="_blank" rel="noopener noreferrer">GitHub</a>.
            </p>
            <p class="lead">
              And if want to contact me, here is my <a href="https://tonitorrescuenca.com" target="_blank" rel="noopener noreferrer">webpage</a>.
            </p>
            <hr class="my-4">
            <p> You can start using this application here:</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" routerLink="/sign-up" role="button">Getting start</a>
            </p>
          </div>
    </div>
</div>
